# Django and related libraries
Django==4.2.1
django-celery-beat
django-storages
django-constance[redis]
django-environ
django-timezone-field
setuptools

# Celery and Redis
celery==5.3.6
redis==5.0.1

# Face Recognition and Image Processing
face-recognition
face-recognition-models
dlib
opencv-python
numpy
insightface
onnxruntime

# Utilities
psutil
tzdata

# Development (optional, move to requirements-dev.txt if preferred)
ipdb
